.Benefits_box{
    background: #E0EFF6;
}
.Benefits_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 150px;
    gap: 104px;
}
.benefits--text_h3{
    text-align: center

}